venv/
*.pyc
__pycache__/
*.pkl
*.h5
.DS_Store
*.pth
*.ipynb_checkpoints/
# Ignore AI Generated dataset folder
AI Generated dataset/

# Ignore Deepfake dataset folder
Deepfake dataset/

# Ignore real_img folder
real_img/

# Ignore AI Generated dataset folder
AI Generated dataset/

# Ignore Deepfake dataset folder
Deepfake dataset/

# Ignore real_img folder
real_img/

unified_dataset/

datasets/