venv/
*.pyc
__pycache__/
*.pkl
*.h5
.DS_Store
*.pth
*.ipynb_checkpoints/
# Ignore AI Generated dataset folder
AI Generated dataset/

# Ignore Deepfake dataset folder
Deepfake dataset/
Add-Content .gitignore "`ndiverse_ai_faces/"
Add-Content .gitignore "ood_crops_debug/"
Add-Content .gitignore "ood_test_images/"
# Ignore real_img folder
real_img/

# Ignore AI Generated dataset folder
AI Generated dataset/

# Ignore Deepfake dataset folder
Deepfake dataset/

# Ignore real_img folder
real_img/

unified_dataset/

datasets/history/history.json

datasets/
diverse_ai_faces/
ood_crops_debug/
ood_test_images/
history/
